{% extends "MeldonStrongholdBundle:Default:layout.html.twig" %}

{% block mainbody %}
    <div class="well row">
        <p>Game ID: {{ game.id }}</p>
        <p>Phase: {{ game.phase.name }}</p>
        <p>Hourglasses: {{ game.hourglasses }}</p>
        <p>Current side: {{ game.currentSide.name }}</p>
    </div>
    <div class="well row">
        <h5>Action Stack -</h5>
        <ul>
        {% for action in game.actionStack.getActions %}
            <li>{{ action.position }} - {{ action.masterAction.name }} ({{ action.actionDetails.name }})</li>
        {% else %}
            <li>No actions on the stack</li>
        {% endfor %}
        </ul>
    </div>
    <div class="well row">
        <table class="table table-striped">
            <thead>
                <th>ID</th>
                <th>Side</th>
                <th>Turn</th>
                <th>Text</th>
            </thead>
            <tbody>
            {% for row in log|slice(0,10) %}
                <tr>
                    <td>{{ row.id }}</td>
                    <td>{{ row.side }}</td>
                    <td>{{ row.turn }}</td>
                    <td>{{ row.text|nl2br }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
