{% extends "MeldonStrongholdBundle:Default:layout.html.twig" %}

{% block mainbody %}
    <div class="well row">
        <p>Game ID: {{ game.id }}</p>
        <p>Phase: {{ game.phase.name }}</p>
        <p>Hourglasses: {{ game.hourglasses }}</p>
    </div>
    <div class="well row">
        <table class="table table-striped">
            {% for row in log %}
                <tr>
                    <td>{{ row.id }}</td>
                    <td>{{ row.turn }}</td>
                    <td>{{ row.text|nl2br }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
