{% extends "MeldonStrongholdBundle:Default:layout.html.twig" %}

{% block mainbody %}
    <div class="well row">
        <p>Game ID: {{ game.id }}</p>
        <p>Phase: {{ game.phase.name }}</p>
        <p>Hourglasses: {{ game.hourglasses }}</p>
    </div>
    <div class="well row">
        <table class="table table-striped">
            <thead>
                <th>ID</th>
                <th>Side</th>
                <th>Turn</th>
                <th>Text</th>
            </thead>
            <tbody>
            {% for row in log %}
                <tr>
                    <td>{{ row.id }}</td>
                    <td>{{ row.side }}</td>
                    <td>{{ row.turn }}</td>
                    <td>{{ row.text|nl2br }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
